@{
	var lookup = ViewData["lookup"] as Dictionary<string, YoutubeExplode.Channels.Channel> ?? new Dictionary<string, YoutubeExplode.Channels.Channel>();
	ViewData["title"] = "Configure Channels";
}
@model List<ChannelViewModel>

<h1>Configure Channels</h1>
<div id="channelList">
	@if(Model == null || Model.Count == 0)
	{
		<div>There are no Channels <a role="button">Add Channel</a></div>
	}else
	{
	
		@for (var i = 0; i < Model.Count; i++)
		{
			var cfg = Model[i];
			var channelName = cfg.Channel?.Title ?? "Unknown";
			var link = cfg.Channel?.Url ?? "";
			var thumb = cfg.Channel?.Thumbnails.First().Url ?? "";
			var channel = cfg.ChannelConfig;
			<div class="channelEntry">
				<div class="head">
					<div class="icon" style="background-image:url(@thumb)"></div>
					<div class="name"><a href="/config/channel/@channel.ChannelId">@channelName</a></div>
				</div>
			</div>
		}
	}
	<a role="button">Add Channel</a>
</div>

<div id="channelTemplate" style="display:none">
	<div class="channel">
		<div class="head">
			<div class="icon"></div>
			<div class="name"><a href="#"></a></div>
		</div>
		<div class="filters">
		</div>
	</div>
</div>
<div id="keywordTemplate" style="display:none">
	<div class="keyword">
		<input tpye="text" name="filter">
		<select name="">
			<option value="Word"></option>
			<option value="Regex"></option>
		</select>
		<a role="button">Add Filter</a>
	</div>
	<a role="button">Add Filter</a>
</div>