@{
	var lookup = ViewData["lookup"] as Dictionary<string, YoutubeExplode.Channels.Channel> ?? new Dictionary<string, YoutubeExplode.Channels.Channel>();
	ViewData["title"] = "Configure Channels";
}
@model List<ChannelViewModel>
@section Scripts
{
	<script src="/js/addChannel.js" asp-append-version="true"></script>
}
<h1>Configure Channels</h1>
<div id="channelList">
	@if(Model == null || Model.Count == 0)
	{
		<div>There are no Channels <a role="button">Add Channel</a></div>
	}else
	{
	
		@for (var i = 0; i < Model.Count; i++)
		{
			var cfg = Model[i];
			var channelName = cfg.Channel?.Name ?? "Unknown";
			var link = cfg.Channel?.Url ?? "";
			var thumb = cfg.Channel?.IconUrl ?? "";
			var channel = cfg.ChannelConfig;
			<div class="channelEntry">
				<div class="head">
					<div class="icon" style="background-image:url(@thumb)"></div>
					<div class="name"><a href="/config/channel/@channel.ChannelId">@channelName</a></div>
				</div>
			</div>
		}
	}
	<a role="button" class="addBtn">Add Channel</a>
	<div id="addChannel" style="display:none">
		<input type="search" name="search" placeholder="Find a Channel"/>
		<div id="resultsList">
			<div class="channelResult">
				<div class="status">Enter a channel name</div>
			</div>
		</div>
	</div>
</div>

<div id="template" style="display:none">
	<div class="channelEntry">
		<div class="head">
			<div class="icon" style=""></div>
			<div class="name"><a>Name</a></div>
		</div>
	</div>
</div>

