@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Check the console output for the login code.</p>

<form method="get">
	<input type="text" name="code" placeholder="Login Code"/>
	<input type="submit" value="Login"/>
</form>